@import url('https://fonts.googleapis.com/css?family=Lato:300&display=swap');

*{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    color: #444;
    font-family: rale;
    letter-spacing: 1px;
}

h2 {
    font-size: 40px;
    color: #333;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    padding-top: 20px;
    font-weight: normal;
    color: #424242;
}

h4{
    margin-top: 15px;
    font-size: 16px;
}

h5{
    font-family: Lato, sans-serif;
    line-height: 1.5;
    font-weight: normal;
    padding: 10px 0;
    font-size: 12px;
}

p{
    color: #888;
    font-family: Lato, sans-serif;
    font-size: 15px;
}

.wap {
    width: 90%;
    margin: auto;
}

.wap a{
    text-decoration: none;
}

.bienvenidos {
    margin-top: 100px;
    text-align: center;
}

.contenedor-columnas{
    width: 100%;
    margin: auto;
}

.columnasx3{
    width: 33.333%;
    float: left;
    padding: 20px 20px;
    box-sizing: border-box;
    margin: auto;
}

.columnasx3 img{
    width: 100%;
}

.columnasx3 i{
    float: left;
    padding-right: 20px;
    color: #0088cc;
}

.columnasx3 h4{
    padding-bottom: 20px;
}
.more {display: none;}
